/* Шрифты */

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/Metropolis-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/Metropolis-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/Metropolis-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}



/* Глобальные стили */

:root {
    --color-white: #ffffff;
    --color-dark: #000000;
    --color-text: #E4E4E4;

    --font-family: 'Metropolis', sans-serif;

    --transition-duration: 200ms;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-family);
    color: var(--color-white);
    background-color: var(--color-dark);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1200px + 10px * 2);
    padding-left: 10px;
    padding-right: 10px;
}

.container-mobile {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1200px + 10px * 2);
    padding-left: 10px;
    padding-right: 10px;
}

html {
    scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Стили */

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    position: relative;
    z-index: 30;
}

.header__menu--list {
    display: flex;
    gap: 56px;
}

.header__menu--item a {
    color: var(--color-text);
    transition: var(--transition-duration);
}

.header__burger-button {
    display: none;
    border: 0;
    background: none;
    position: relative;
    bottom: 10px;
    z-index: 30;
    cursor: pointer;
    height: 40px;
}

.header__burger-button--element {
    width: 25px;
    height: 1.5px;
    background-color: var(--color-white); 
}

.header__burger-button--element2 {
    width: 25px;
    height: 1.5px;
    background-color: var(--color-white);
    position: relative;
    bottom: 7px; 
}

.header__burger-button--element3 {
    width: 25px;
    height: 1.5px;
    background-color: var(--color-white);
    position: relative;
    bottom: 14px;
}

.header__menu--list--is-activ {
    transform: translateX(-100%);
    transition: 900ms;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 0;
    padding-top: 5%;
    line-height: 150px;
    font-size: 30px;
    background-color: #000000d0;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(3px);
}

.menu-aktiv {
    transform: translateX(0px);
}

.container__mobile {
    display: none;
    margin-top: 50px;
}

.container__mobile__content-first--zogolovok-first {
    font-weight: 400;
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    max-width: 260px;
    z-index: 20;
}

.container__mobile__content-first--zogolovok-second {
    font-weight: 700;
    font-size: 32px;
    position: relative;
    z-index: 20;
}

.container__mobile__content-first--text {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
    line-height: 25px;
    white-space: nowrap;
    position: relative;
    z-index: 20;
    max-width: 260px;
}

.container__mobile__content-first--img {
    position: relative;
    z-index: 20;
}

.container__mobile__content-second {
    position: relative;
    z-index: 20;
}

.container__mobile__content-second--zogolovok {
    font-size: 32px;
    font-weight: 700;
    margin-top: 110px;
}

.container__mobile__content-second--text {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    left: 50px;
    line-height: 150%;
    color: var(--color-text);
    max-width: 260px;
}

.container__mobile__content-second--text::before {
    content: '';
    height: 1px;
    width: 32px;
    background-color: var(--color-text);
    display: block;
    position: relative;
    right: 50px;
    top: 12px;
}

.container__mobile__content-third {
    position: relative;
    z-index: 20;
}

.container__mobile__content-third--zogolovok {
    font-size: 32px;
    font-weight: 700;
    margin-top: 110px;
}

.container__mobile__content-third--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    left: 50px;
    color: var(--color-text);
    max-width: 260px;
}

.container__mobile__content-third--text::before {
    content: '';
    height: 1px;
    width: 32px;
    background-color: var(--color-text);
    display: block;
    position: relative;
    right: 50px;
    top: 12px;
}

.container__mobile__content-fourth {
    position: relative;
    z-index: 20;
}

.container__mobile__content-fourth--zogolovok-first {
    font-size: 20px;
    font-weight: 400;
    margin-top: 110px;
}

.container__mobile__content-fourth--zogolovok-second {
    font-size: 32px;
    font-weight: 700;
    white-space: nowrap;
}

.container__mobile__content-fourth--zogolovok-third {
    font-size: 29px;
    transform: translateY(-20px);

}

.container__mobile__content-fourth--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    left: 50px;
    color: var(--color-text);
    max-width: 260px;
}

.container__mobile__content-fourth--text::before {
    content: '';
    height: 1px;
    width: 32px;
    background-color: var(--color-text);
    display: block;
    position: relative;
    right: 50px;
    top: 12px;
}

.content-first {
    display: flex;
    margin-top: 110px;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.content-first__column-second {
  line-height: 15px;
  position: relative;
  top: 130px;
}

.content-first__column-second--zogolovok-first {
    font-size: 40px;
    font-weight: 400;
}

.content-first__column-second--zogolovok-second {
    font-size: 48px;
    font-weight: 700;
    white-space: nowrap;
}

.content-first__column-second--zogolovok-second::after {
    content: '(peer-to-peer)';
    font-weight: 400;
    font-size: 33px;
    white-space: nowrap;
    margin-left: 20px;
}

.content-first__column-second--text {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text);
    position: relative;
    left: 50px;
    max-width: 260px;
    line-height: 150%;
}

.content-first__column-second--text::before {
    content: '';
    height: 1px;
    width: 32px;
    background-color: var(--color-text);
    display: block;
    position: relative;
    right: 50px;
    top: 6px;
}

.content-second {
    display: flex;
    margin-top: 250px;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.content-second__column-first {
  line-height: 15px;
  position: relative;
  top: 70px;
}

.content-second__column-first--zogolovok-first {
    font-size: 40px;
    font-weight: 400;
    white-space: nowrap;
}

.content-second__column-first--zogolovok-second {
    font-size: 48px;
    font-weight: 700;
    white-space: nowrap;
}

.content-second__column-first--text {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text);
    line-height: 150%;
    position: relative;
    left: 50px;
    max-width: 490px;
    max-width: 260px;
}

.content-second__column-first--text::before {
    content: '';
    height: 1px;
    width: 32px;
    background-color: var(--color-text);
    display: block;
    position: relative;
    right: 50px;
    top: 12px;
}


.content-third {
    display: flex;
    margin-top: 250px;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.content-third__column-first {
  line-height: 15px;
  position: relative;
  max-width: 420px;
  order: 1;
}

.content-third__column-first--zogolovok-first {
    font-size: 40px;
    font-weight: 400;
    white-space: nowrap;
}

.content-third__column-first--zogolovok-second {
    font-size: 48px;
    font-weight: 700;
    white-space: nowrap;
}

.content-third__column-first--text {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text);
    line-height: 150%;
    position: relative;
    left: 50px;
    max-width: 260px;
}

.content-third__column-first--text::before {
    content: '';
    height: 1px;
    width: 32px;
    background-color: var(--color-text);
    display: block;
    position: relative;
    right: 50px;
    top: 12px;
}

.content-fourth {
    display: flex;
    margin-top: 200px;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.content-fourth__column-first {
    width: 510px;
    position: relative;
    top: 130px;
}

.content-fourth__column-first--zogolovok {
    font-size: 48px;
    font-weight: 700;
}

.content-fourth__column-first--text {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text);
    line-height: 170%;
}

.content-fifth {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(28,28,28,1) 100%, rgba(14,14,14,1) 100%);
    border-radius: 16px;
    padding-block: 30px;
    margin-top: 200px;
}

.content-fifth__column-first--text-first {
    font-weight: 400;
    font-size: 36px;
}

.content-fifth__column-first--text-second {
    font-weight: 700;
    font-size: 36px;
    position: relative;
    bottom: 25px;
}

.content-fifth__column-first--button {
    background-color: var(--color-white);
    color: var(--color-dark);
    padding: 13px 74px;
    border-radius: 12px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    transition: var(--transition-duration);
}

.content-sixth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.content-sixth__column-first {
    width: 600px;
}

.content-sixth__column-first--zogolovok {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
}

.content-sixth__column-first--text {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-text);
}

.fon-content-seventh {
    background-image: url('fon content7.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 250px;
    max-width: 100%;
}

.content-seventh {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(24,24,24,1) 100%, rgba(11,11,11,1) 100%);
    border-radius: 16px;
    padding-block: 50px;
    position: relative;
    overflow-x: hidden;
}

.content-seventh__column-first {
    max-width: 366px;
    max-height: 310px;
}

.content-seventh__column-first--text-first {
    font-size: 22px;
    font-weight: 500;
    line-height: 166%;
}

.content-seventh__column-first--text-second {
    font-weight: 800;
    font-size: 52px;
    line-height: 100%;
}

.content-seventh__column-second {
    max-width: 334px;
    max-height: 310px;
    position: relative;
}

.content-seventh__column-second__switch {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 700;
    color: #9D9D9D;
}

.content-seventh__column-second__switch--element-first {
    border-bottom: 2px solid #222222;
    width: 167px;
    text-align: center;
    padding-bottom: 16px;
    cursor: pointer;
}

.content-seventh__column-second__switch--element-second {
    border-bottom: 2px solid #222222;
    width: 167px;
    text-align: center;
    padding-bottom: 16px;
    cursor: pointer;
}

.content-seventh__column-second__switch--is-active {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-white);
    transition: var(--transition-duration);
}

.opacity-left {
    transform: translateX(-100px);
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.opacity-right {
    position: absolute;
    transform: translateX(-325px);
    opacity: 100 !important;
}

.swiith-opacity {
    display: flex;
}

.swiith-opacity--img {
    position: absolute;
    top: 130px;
    right: -300px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.content-seventh__column-second__form--email {
    color: #D0D0D0;
    font-size: 16px;
    font-weight: 500;
    background-color: #222222;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 56px;
    padding-right: 80px;
    border: 0;
    border-radius: 12px;
    font-family: var(--font-family);
    margin-top: 20px;
}

.content-seventh__column-second__form {
    position: relative;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.content-seventh__column-second__form::before {
    content: url(./img/sms.png);
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 27px;
    left: 16px;
}

.content-seventh__column-second__form--number {
    color: #D0D0D0;
    font-size: 16px;
    font-weight: 500;
    background-color: #222222;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 56px;
    padding-right: 80px;
    border: 0;
    border-radius: 12px;
    font-family: var(--font-family);
    margin-top: 20px;
}

.content-seventh__column-second__form::after {
    content: url(./img/call.png);
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 86px;
    left: 16px;
}

.content-seventh__column-second__form--button {
    border: 0;
    background-color: var(--color-white);
    color: var(--color-dark);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 147px;
    border-radius: 12px;
    margin-top: 35px;
    transition: var(--transition-duration);
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 70px;
}

.footer__menu-first--list {
    display: flex;
    gap: 56px;
}

.footer__menu-first--item a {
    font-size: 16px;
    font-weight: 200;
    color: var(--color-white);
    transition-duration: var(--transition-duration);
}

.footer__menu-second--list {
    display: flex;
    gap: 56px;
}

.footer__menu-second--item a {
    font-size: 16px;
    font-weight: 200;
    color: var(--color-white);
    transition: var(--transition-duration);
}

.footer--image-logo {
    position: relative;
    left: 45px;
    bottom: 40px;
}

.footer--image-logo-mobile {
    display: none;
}

.footer-contacts-mobile {
    display: none;
}

#about {
    scroll-margin-top: 350px;
}

#join {
    scroll-margin-top: 150px;
}

.preloader {
    position: fixed;
    z-index: calc(infinity);
    inset: 0;
    background-color: var(--color-dark);
    animation-name: fon-dark;
    animation-duration: 3s;
    animation-iteration-count: 1;
    opacity: 0;
    pointer-events: none;
}
 
.preloader--light {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    inset: 0;
    background-color: var(--color-white);
    animation-name: light;
    animation-duration: 3s;
    animation-iteration-count: 1;
}



/* Анимации */

@keyframes fon-dark {
    0% { opacity: 1}
    80% { opacity: 1}
    100% { opacity: 0}
}

@keyframes light {
    0% { 
        width: 1px;
        height: 0px;
     }
    50% {
        width: 1px;
        height: 100%;
     }
    100% { 
        width: 100%;
        height: 100%;
     }
}

/* Медиа-запросы */

@media (max-width: 1100px) {
    .content-first__column-first--image {
        transform: scale(0.9);
    }

    .content-first__column-second--zogolovok-first {
        font-size: 35px;
    }

    .content-first__column-second--zogolovok-second {
        font-size: 43px;
    }

    .content-first__column-second--zogolovok-second::after {
        font-size: 28px;
        margin-left: 10px;
    }

    .content-first__column-second--text {
        font-size: 16px;
    }

    .content-second__column-second--image {
        transform: scale(0.9);
    }

    .content-second__column-first--zogolovok-first {
        font-size: 35px;
    }

    .content-second__column-first--zogolovok-second {
        font-size: 43px;
    }

    .content-second__column-first--zogolovok-second::after {
        font-size: 28px;
        margin-left: 10px;
    }

    .content-second__column-first--text {
        font-size: 16px;
    }

    .content-third__column-second--image {
        transform: scale(0.9);
    }

    .content-third__column-first {
        top: 10px;
    }

    .content-third__column-first--zogolovok-first {
        font-size: 35px;
    }

    .content-third__column-first--zogolovok-second {
        font-size: 43px;
    }

    .content-third__column-first--zogolovok-second::after {
        font-size: 28px;
        margin-left: 10px;
    }

    .content-third__column-first--text {
        font-size: 16px;
    }
  
}

@media (max-width: 1000px) {
    .container-mobile {
        width: 340px;
    }

    .container__mobile {
        display: grid;
        justify-content: center;       
    }

    .content-first {
        display: none;
    }

    .container__mobile__content-first--fon {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 10;
    }

    .content-second {
        display: grid;
        justify-content: center;
        margin-top: 0;
    }

    .content-second__column-second--image {
        width: 405px;
        height: 320px;
        margin-top: 70px;
    }

    .content-second__column-first--zogolovok-first {
        font-size: 20px;
        font-weight: 400;
    }
    
    .content-second__column-first--zogolovok-second {
        font-size: 32px;
        font-weight: 700;
    }
    
    .content-second__column-first--text {
        font-size: 16px;
        font-weight: 400;
        color: var(--color-text);
        line-height: 150%;
    }

    .content-second__column-second {
        width: 343px;
    }

    .content-third {
        display: grid;
        justify-content: center;
        margin-top: 0;
    }

    .content-third__column-first {
        order: -1;
    }

    .content-third__column-second--image {
        width: 342px;
        height: 317px;
        margin-top: 40px;
    }

    .content-third__column-first--zogolovok-first {
        font-size: 20px;
        font-weight: 400;
    }
    
    .content-third__column-first--zogolovok-second {
        font-size: 32px;
        font-weight: 700;
    }
    
    .content-third__column-first--text {
        font-size: 16px;
        font-weight: 400;
        color: var(--color-text);
        line-height: 150%;
        width: 343px;
    }

    .content-fourth {
        display: grid;
        margin-top: 0px;
        position: relative;
        justify-content: space-around;
    }

    .content-fourth__column-second--image {
        width: 343px;
        height: 346px;
    }

    .content-fourth__column-first {
        width: 343px;
        top: 0px;
    }

    .content-sixth {
        display: grid;
        justify-content: center;
        margin-top: 100px;
    }

    .content-sixth__column-first {
        width: 414px;
    }

    .content-sixth__column-second--img {
        margin-top: 40px;
    }

    #about {
        scroll-margin-top: 0;
    }
  
}

@media (max-width: 770px) {
    .content-seventh {
        display: grid;
        margin-top: 200px;
    }

    .fon-content-seventh {
        background-image: none;
        padding: 0;
    }

    .content-seventh__column-second {
        margin-top: 40px;
    }

    .footer {
        display: grid;
        text-align: center;
    }

    .footer__menu-first--list {
        display: grid;
        margin-top: 125px;
        padding: 0;        
    }

    .footer__menu-second--list {
        display: grid;
        margin-top: 160px;
        padding: 0;
    }

    .footer--image-logo {
       display: none;
    }
    
    .footer--image-logo-mobile {
        display: block;
        position: relative;
        left: 85px;
        top: 67px;
    }
    
    .footer-contacts-mobile {
        display: block;
        margin-top: 75px;
    }

    .footer__menu-first--item a {
        font-size: 24px;
        font-weight: 400;
    }

    .footer__menu-second--item a {
        font-size: 24px;
        font-weight: 400;
    }
}

@media (max-width: 580px) {

    .header__menu--list {
        display: none;
    }

    .header {
        margin-top: 25px;
    }

    .header__burger-button {
        display: block;
    }

    .container {
        max-width: 360px;
    }

    .container-mobile {
        max-width: 340px;
    }

    .content-fifth {
        display: grid;
        justify-content: center;
        padding-block: 10px;
        margin-top: 90px;
    }

    .content-fifth__column-first {
        margin-left: auto;
        margin-right: auto;
    }

    .content-fifth__column-second {
        margin-top: 70px;
    }

    .content-fifth__column-first--button {
        padding: 13px 100px;
    }

    .content-sixth__column-first {
        width: 343px;
    }

    .content-sixth__column-first--zogolovok {
        font-size: 32px;
    }
    
    .content-sixth__column-first--text {
        font-size: 16px;
    }

    .content-seventh__column-first--text-first {
        font-size: 18px;
        font-weight: 400;
        line-height: 166%;
        max-width: 300px;
    }

    .content-seventh__column-first--text-second {
        font-size: 30px;
        font-weight: 800;
    }

    .content-seventh {
        padding-block: 0px;
        padding-bottom: 20px;
        margin-top: 70px;
    }

    .container__mobile__content-first--img {
        width: 320px;      
    }

    .container__mobile__content-second--img {
        width: 320px;    
    }

    .container__mobile__content-third--img {
        width: 320px;       
    }

    .container__mobile__content-fourth--img {
        width: 320px;     
    }

    .content-second__column-second--image {
        width: 350px; 
        height: auto; 
    }

    .content-third__column-second--image {
        width: 320px;       
    }

    .content-fourth__column-second--image {
        width: 320px;    
    }

    .content-sixth__column-second--img {
        width: 320px;    
    }
}


/* Эффект новедения */

@media(hover: hover) {
    .header__menu--item a:hover {
        color: #9D9D9D;
    }

    .content-fifth__column-first--button:hover {
        background-color: #9D9D9D;
        box-shadow: 0px 0px 10px 0px #000000;
    }

    .content-seventh__column-second__form--button:hover {
        background-color: #9D9D9D;
        box-shadow: 0px 0px 10px 0px #000000;
    }

    .footer__menu-first--item a:hover {
        color: #9D9D9D;
    }

    .footer__menu-second--item a:hover {
        color: #9D9D9D;
    }

}
